body {
    font-family: 'Roboto', sans-serif;
}

#app {
    transition: opacity 0.5s ease; // Fadein lorsque Vue.js charge l'application
    display: flex;
    flex-direction: column;
    align-items: center;

    &[v-cloak] {
        opacity: 0;
    }
}

.calendar {
    $day-size: 70px; // Grosseur d'un carré qui sont en border-box

    display: flex;
    flex-wrap: wrap;
    width: $day-size * 7; // 7 jours par semaine (ligne)
    border-top: 1px solid #555;
    border-left: 1px solid #555;

    // Chaque jour (case) du calendrier
    .day {
        box-sizing: border-box;
        width: $day-size;
        height: $day-size;
        border-right: 1px solid #555;
        border-bottom: 1px solid #555;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 300;

        // Lorsqu'il y a des représentations pour cette journée
        &.has-shows {
            color: rgb(25, 138, 25);
            font-weight: normal;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                background-color: rgb(226, 238, 226);
            }
        }

        // Lorsque c'est la journée sélectionnée
        &.selected {
            border: 3px solid red;
            color: red;
        }
    }
}

.selected-infos {
    width: 500px;

    h2 {
        text-align: center;
        font-size: 34px;
    }

    // Lorsqu'il n'y a pas de représentation
    .empty {
        text-align: center;
        font-size: 16px;
        color: #777;
        margin-top: 50px;
    }

    .shows {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // Chaque représentation
        .show {
            width: 100%;
            margin-bottom: 50px;

            .title {
                font-size: 24px;
                font-weight: 300;
            }

            .speaker {
                font-size: 18px;
                font-weight: 300;
            }

            .location {
                border-bottom: 1px solid #888;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 10px;
            }

            .description {
                display: flex;

                div {
                    line-height: 1.5em;
                }
            }

            // Bouton de réservation
            .book-bt {
                margin-top: 10px;
                padding: 10px;
                display: inline-block;
                background-color: rgb(138, 236, 138);
                border-radius: 5px;
                border: 1px solid rgb(86, 165, 86);
                cursor: pointer;
                user-select: none;

                &:hover {
                    background-color: rgb(175, 243, 175);
                    border-color: rgb(175, 243, 175);
                }

                &.disabled {
                    background-color: #EEE;
                    color: #888;
                    cursor: default;
                    border: none;
                }
            }
        }
    }
}